<h1 style="margin-top:300px;">APARTMENTS FOR RENT</h1>
				
				<div>
					<searchApartments></searchApartments>
					<button v-on:click="showFilters()" v-if="currentUser" >Filters</button>
					<div v-show="showFiltersForm">
						
						<p>TYPE OF APARTMENT</p>
						<input type="checkbox" id="withdrawal" name="withdrawal" value="ROOM" v-model="isRoom">
						<label>ROOM</label><br> 
						<input type="checkbox" id="accepted" name="accepted" value="WHOLE_APARTMENT" v-model="isWholeApartment">
						<label>WHOLE_APARTMENT</label><br>
						
						<p>AMENITIES</p>
						<table>
							<tr><td>Name</td><td>Checked</td></tr>
							
							<tr  v-for="a in allAmenities">
								<td><input type="checkbox"  @click="onChange(a,$event)"></td>
								<td>{{a.name}}</td>
							</tr>
						</table>
						
					</div>
					<table border = "1"  class="table table-hover">
						<thead>
							<tr bgcolor="lightblue">
								<th @click="sort('id')">ID</th>
								<th @click="sort('location')">Location</th>
								<th @click="sort('pricePerNight')">Price Per Night</th>
								<th @click="sort('hostName')">Host</th>
								<th @click="sort('status')">Status</th>
							</tr>
					    </thead>
					    <tbody>
							<tr v-for="a in searchActive"  v-on:click="selectApartment(a)">
								<td>{{a.id}}</td>
								<td>{{a.location.address.city}}</td>
								<td>{{a.pricePerNight }}</td>
								<td>{{a.host.username }}</td>
								<td>{{a.statusOfApartment}}</td>
							</tr>
						</tbody>
					</table>
					
					<div v-if="selectedApartment">
						<p>Selektovan je apartman sa id {{selectedApartment.id}} 
							<button type="submit" v-if="currentUser" v-on:click="reservation()">Reservation</button>
							<button type="submit" v-on:click="showComments()">Comments of apartment</button>
						</p>
					</div>
					
					<reservation></reservation>
					<commentApartmentForGuestOrUnregistredUser></commentApartmentForGuestOrUnregistredUser>

				</div>
			</div>