/*==============================
[container for image and form]
===============================*/
.container-image-and-form{
	  width: 100%;  
	  min-height: 100vh;
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: flex;
	  flex-wrap: wrap;
	  justify-content: center;
	  align-items: center;
	  padding: 15px;
	  background: #f2f2f2;
}

/*==============================
[image part]
===============================*/
.container-image{
	  width: 50%;
	  height:895px;
	  background-repeat: no-repeat;
	  background-size: cover;
	  background-position: center;
	  position: relative;
  	  z-index: 1;
}

.container-image::before {
	  content: "";
	  display: block;
	  position: absolute;
	  z-index: -1;
	  width: 100%;
	  height: 100%;
	  top: 0;
	  left: 0;
	  background: rgba(0,0,0,0.3);
}

/*==============================
[form part]
===============================*/
.container-for-wrap {
  width: 1170px;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;

}

.container-form{
	  width: 50%;
	  display: -webkit-box;
	  display: -webkit-flex;
	  display: -moz-box;
	  display: -ms-flexbox;
	  display: flex;
	  flex-wrap: wrap;
	  padding: 150px 65px 40px 65px;
}

/*==============================
[input style]
===============================*/
.container-form-input{
	  width: 100%;
	  height: 72.2px;
	  position: relative;
	  border: none;
}

.form-input-error{
	  border:  none;
	  position: relative;
	  padding-top: 0%;
	  color: red;
}

.form-input{
	  display: block;
	  width: 100%;
	  border:1px solid #e6e6e6;
	  background: transparent;
	  font-family: Poppins-Regular;
	  font-size: 18px;
	  color: #666666;
	  line-height: 1.2;
	  padding: 0 25px;
}

.form-select{
	  display: block;
	  width: 100%;
	  border:1px solid #e6e6e6;
	  background: transparent;
	  font-family: Poppins-Regular;
	  font-size: 18px;
	  color: #666666;
	  line-height: 1.2;
	  padding: 0 25px;
}

input.form-input {
  	  height: 55px;
}

select.form-select {
  	  height: 55px;
}

.focus-form-input {
	  position: absolute;
	  display: block;
	  width: calc(100% + 2px);
	  height: 57px;
	  top: -1px;
	  left: -1px;
	  pointer-events: none;
	  border: 1px solid gray;
	
	  visibility: hidden;
	  opacity: 0;
	
	  -webkit-transition: all 0.4s;
	  -o-transition: all 0.4s;
	  -moz-transition: all 0.4s;
	  transition: all 0.4s;
	
	  -webkit-transform: scaleX(1.1) scaleY(1.3);
	  -moz-transform: scaleX(1.1) scaleY(1.3);
	  -ms-transform: scaleX(1.1) scaleY(1.3);
	  -o-transform: scaleX(1.1) scaleY(1.3);
	  transform: scaleX(1.1) scaleY(1.3);
}

.form-input:focus + .focus-form-input {
	  visibility: visible;
	  opacity: 1;
	
	  -webkit-transform: scale(1);
	  -moz-transform: scale(1);
	  -ms-transform: scale(1);
	  -o-transform: scale(1);
	  transform: scale(1);
}

/*==============================
[button for form style]
===============================*/
.container-btn-form{
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;	
}

.form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 50px;
  border-radius: 10px;
  background:rgb(0, 0, 128);

  font-family: Montserrat-Bold;
  font-size: 20px;
  font-weight:bold;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.form-btn:hover {
  background: blue !important;
}

