/* Style the content */
.content-profile {
  background-repeat: repeat-y;
  background-attachment: fixed;  
  background-size: cover;
  
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  
  
   padding-right: 0px;
   padding-left: 0px;
   padding-bottom: 0px;
   padding-top: 100%;
}
.container-profile{
 position: absolute;
  margin: 100px 0px 0px 0px;
  max-width: 70%;
  height:1000px;
  padding: 0px;
  background-color: white;
  bottom: 0px;
  left: 15%;
  right:0%;
  top: 0px;
  
}

.profile-form-title{
  font-family: Poppins-Regular;
  font-size: 35px;
  color: #555555;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-weight:bold;
  width: 100%;
  display: block;
}

.wrap-profile {
  width: 100%;
  position: relative;
  border: none;
}

.input-in-profile{
  display: block;
  width: 300px;
  height: 50px;
  border:1px solid #e6e6e6;
  background: transparent;
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #666666;
  line-height: 1.2;
  padding: 0 25px;
  margin-left: 0px;
  
}


.txt1-profile {
  font-family: Poppins-Regular;
  font-size: 40px;
  line-height: 1.4;
  color: #000000;
}

.txt2-profile {
  font-family: Poppins-Regular;
  font-size: 30px;
  line-height: 1.4;
  color: #000000;
}
.focus-input-in-profile {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: 57px;
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid gray;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transform: scaleX(1.1) scaleY(1.3);
  -moz-transform: scaleX(1.1) scaleY(1.3);
  -ms-transform: scaleX(1.1) scaleY(1.3);
  -o-transform: scaleX(1.1) scaleY(1.3);
  transform: scaleX(1.1) scaleY(1.3);
}

.error-wrap-input-in-profile{
  border:  none;
  position: relative;
  padding-top: 0%;
  color: red;
  margin-left: 90px;
}

.wrap-profile-form{
  max-width: 100%;
  height:800px;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;

}

.profile-column-form {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 65px 50px 65px;
  margin-bottom: 200px;
}

.profile-info-column-form {
  width: 50%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 65px 50px 65px;
  margin-bottom: 200px;
}


.img-profile {
  border-radius: 50%;
  width:200px;
  margin-left:15%;
}

.container-profile-form-btn {
  width: 25%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
   margin-top: 0px;
}

.container-profile-form-btn-change-password {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
    
}


.confirm_edit_button {
   border: 2px solid black;
  background-color: white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-color: #4CAF50;
  color: green;
   border-radius: 10px;
  
 
}

.confirm_edit_button:hover {
  background-color: #4CAF50;
  color: white;
}

.cancel_edit_button {
  border: 2px solid black;
  background-color: white;
  border-color: #f44336;
  color: red;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
 
}

.cancel_edit_button:hover {
  background: #f44336;
  color: white;
}


.profile-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 56px;
  border-radius: 10px;
  background:rgb(0, 0, 128);

  font-family: Montserrat-Bold;
  font-size: 20px;
  font-weight:bold;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.profile-form-btn:hover {
  background: blue;
}



.button-form{
   max-width: 75%;
  background: #fff;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: row-reverse;
  margin-top: 20px;
}

.icon {
    float: left;
    width: 30px;
    height: 40px;
}

.column-label {
  float: left;
  width: 20%;
  height:100%;
  margin-top: 30px;
}
.column-input {
  float: left;
  width: 80%;
  padding: 15px 15px 0px 15px;
}


