
.container-search-apartment {
  background-color: rgb(0, 0, 128);
  position: fixed;
  top: 50px;
  width: 100%;
  height: 180px;
  z-index: 999;
  left: 0px;
  color: window;
}

.column25-in-form-search-apartment {
  float: left;
  width: 25%;
  padding: 5px;
  text-align: center;
  padding-top: 20px;
}

.column50-in-form-search-apartment {
  float: left;
  width: 50%;
  padding: 5px;
  text-align: center;
  padding-top: 20px;
}

.column75-in-form-search-apartment {
  float: left;
  width: 75%;
  padding: 5px;
  text-align: center;
  padding-top: 20px;
}

.column33-in-form-search-apartment {
  float: left;
  width: 33.33%;
  padding: 5px;
  text-align: center;
  padding-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.datapicker-input-style{
	  width: 200px;
	  height: 30px;
	  display: block;
	  border:1px solid #e6e6e6;
	  background: white;
	  font-family: Poppins-Regular;
	  font-size: 15px;
	  color: black;
	  line-height: 1.2;
	  padding-left: 0px;
}

.location-input-style{
	  width: 100%;
	  height: 30px;
	  display: block;
	  border:1px solid #e6e6e6;
	  background: white;
	  font-family: Poppins-Regular;
	  font-size: 15px;
	  color: black;
	  line-height: 1.2;
	  padding-left: 0px;
	  border-radius: 0px;
}

.ap-suggestion{
	 color: black;
}


.small-input{
	width: 35%;
}

@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
