.container-filters-content{
	width: 60%;
	text-align: left;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.container-filters-apartment {
  background-color: #fdef4a;
  position: fixed;
  z-index: 999;
  width:20%;
  left: 90px;
  overflow: auto;
  height:50%;
  color: rgb(0, 0, 128);
  border-radius: 10px;
}

.column30-in-apartments-view{
  float: left;
  width: 30%;
  padding: 5px;
  text-align: center;
  align-content:center;
  padding-top: 20px;
}

.container-image-in-search-apartment{
  float: left;
  width: 30%;
  text-align: center;
  padding-right:3%;
  align-content:center;
}

.column70-in-apartments-view{
  float: left;
  width: 70%;
  padding: 5px;
  text-align: center;
  padding-top: 20px;
}

.container-infoOfApartment-in-search-apartment{
  float: left;
  width: 70%;
  padding-right:2%;
  text-align: center;
}

.container-btn-viewApartment{
  background-color: #fdef4a;
  width:100%;
  color: rgb(0, 0, 128);
  border-radius: 10px;
}

.btn-filter {
  background-color: rgb(0, 0, 128); 
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  width:100%;
  border-radius: 10px;
}

.btn-filter:hover {
  background-color: #fdef4a;
  color: white;
}