.txt1 {
  font-family: fantasy;
  font-size: 17px;
  line-height: 1.4;
  color: #999999;
}

.txt2 {
  font-family: fantasy;
  font-size: 17px;
  line-height: 1.4;
  color: blue;
}

.txt3 {
  font-family: fantasy;
  font-size: 35px;
  color: #555555;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-weight:bold;
  
  width: 100%;
  display: block;
}

.txt4 {
  font-family: fantasy;
  font-size: 17px;
  line-height: 1.4;
  color: rgb(0, 0, 128);
}

.txt5 {
  font-size: 14px;
  font-style:normal;
  line-height: 1.4;
  color: rgb(0, 0, 128);
}

.txt6 {
  font-size: 16px;
  font-style:normal;
  line-height: 1.4;
  color: rgb(0, 0, 128);
}

.txt7 {
  font-family: sans-serif;
  font-size: 20px;
  color: black;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: left;
  font-weight:bold;
  
  width: 100%;
  display: block;
}

.txt8 {
  font-family: sans-serif;
  font-size: 17px;
  line-height: 1.4;
  color: black;
}
